{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Add a phone recovery'|trans }}</h1>

    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    {{ form_row(form.model) }}
    <p id="selected-device-estimation"></p>
    {{ form_row(form.amount) }}

    <div class="form-group">
        <button type="submit" class="btn-primary btn">{{ 'Save'|trans }}</button>
        <a href="{{ url('list_phone_recovery') }}" class="btn btn-warning">{{ 'Cancel'|trans }}</a>
    </div>

    {{ form_end(form) }}

    <script>
        var formName = '{{ form.vars.name }}';

        // Indicate the estimation of the selected device (the factory price)
        var setDeviceEstimation = function() {
            var estimation = $('#' + formName + '_model option:selected').data('modelEstimation');
            if (estimation) {
                $('#selected-device-estimation').html('<em>This model is estimated to <strong>' + estimation + '€</strong>.</em>');
            } else {
                $('#selected-device-estimation').html('');
            }
        };

        $(function() {
            setDeviceEstimation();
            $('#' + formName + '_model').change(function() {
                setDeviceEstimation();
            });
        });
    </script>
{% endblock %}
